body {
	background:#fff;
}

a.border.nav-link.border-light.rounded.mr-1 {
  color: #3F729B;
}

a.border.nav-link.border-light.rounded.mr-1:hover {
  color: #1C2331;
}

.btn.btn-sm.indigo:hover{
  color: #fff;
}

.nav-link.active{
  background-color: rgba(255, 255, 255, 0.1);
}

#categories > .col-md-4.mb-5{
  margin-bottom: 8rem !important;
}

.sectionPage {
  position: cover;
  top: -60px;
  margin-bottom: -10px;
}

.sectionPage::after {
  content: '';
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  background: url('../../assets/tech3.jpg');
  background-position: center center;
  background-size: cover;
  filter: opacity(.1);
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .contents {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:#38567C;
  opacity: 0.5;
  z-index: 1;
}

.sloganMenu {
  background: url('../../assets/img-slogan.png');
  background-position: center center;
  background-size: cover;
}

.liheBreakCustom {
  width: 100%;
  height: 25px;
  background-color: #2d2e2f;
}

.corrouselRender{
  position: relative;
  color:#38567C;
  opacity: 0.5;
}

.movingText {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.colSeparatorHome {
  height: 250px;
}

.subTitleSeparator {
  color: snow;
  text-align: center;
  font-family: 'Rokkitt-Regular';
  letter-spacing: 1px;
}

.vl-one {
  border-left: 3px solid#B8B8B8;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}

.vl-two {
  border-left: 5px solid #fff;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}

.vl-three {
  border-left: 3px solid #B8B8B8;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}

.rightMenu {
  position: relative;
  min-height: 100%;
  width: 100%;
  cursor: pointer;
}

.rightMenu .overlayRightMenu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  z-index: 1;
  padding: 5%;
  letter-spacing: 3px;
}

.wildLife {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 35%;
  border: solid 2px;
  border-color: #EB7979;
}

.wildLife:hover .iconWildLife {
  background-color: #b85f5f;
}

.iconWildLife {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 20%;
  height: 100%;
  background-color: #EB7979;
}

.contentWildLife {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.titleWild {
  color: #1C2331;
  font-size: large;
  font-weight: 800;
  letter-spacing: 2px;
}

.linkWild {
  color: #4CA6FF;
}

.nameWild{
  color: #EB7979;
  font-weight: 500;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnBottomContent {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  min-width: 30%;
  border-radius: 3px;
  letter-spacing: 5px;
  font-weight: 400;
  padding: 10px;
  transition: color 0.5s;
}

.btnBottomContent:hover {
  color: white;
}

.btnYellow {
  background-color: #F8BC31;
}

.btnSky {
  background-color: #83CEDE;
}

.btnNext {
  justify-content: space-between;
}

.titleHeaderPhone {
  padding-left: 5%;
  color: #C0D9EF;
  font-family: 'Rokkitt-Bold';
  font-size: 50px;
}

@media (max-width: 600px) {
  .colVerticalLine {
    height: 50px;
  }
  .btnGroup {
    flex-direction: column;
  }
  .wildLife {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 85%;
    border: solid 2px;
    border-color: #EB7979;
  }
  .btnPhone{
    display: flex;
    justify-content: center;
  }
  .titleHeaderPhone {
    text-align: center;
  }
}
